In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('data_cleaned.csv')

In [21]:
df.head()

,ct1_agent,ct1_R,ct1_ACS,ct1_KAST,ct1_ADR,ct1_HS,ct2_agent,ct2_R,ct2_ACS,ct2_KAST,...,t4_ADR,t4_HS,t5_agent,t5_R,t5_ACS,t5_KAST,t5_ADR,t5_HS,map,winner_team
0,Cypher,1.26,218.0,0.83,139.0,0.38,Kayo,1.24,205.0,0.83,...,106.0,0.17,Kayo,0.19,44.0,0.39,36.0,0.13,Breeze,ct
1,Kayo,1.40,284.0,0.86,192.0,0.18,Jett,1.31,189.0,0.71,...,81.0,0.43,Kayo,0.70,185.0,0.57,121.0,0.27,Ascent,ct
2,Viper,1.48,253.0,0.88,151.0,0.25,Brimstone,1.34,236.0,0.71,...,104.0,0.36,Raze,0.52,162.0,0.58,123.0,0.29,Bind,ct
3,Raze,1.03,265.0,0.62,166.0,0.35,Skye,1.02,199.0,0.76,...,121.0,0.14,Viper,0.87,157.0,0.62,106.0,0.35,Split,t
4,Gekko,1.27,197.0,0.78,133.0,0.28,Fade,1.11,215.0,0.96,...,119.0,0.41,Killjoy,0.87,161.0,0.70,115.0,0.11,Lotus,ct

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 62 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ct1_agent    9240 non-null   object
 1   ct1_R        9240 non-null   float64
 2   ct1_ACS      9240 non-null   float64
 3   ct1_KAST     9240 non-null   float64
 4   ct1_ADR      9240 non-null   float64
 5   ct1_HS       9240 non-null   float64
 6   ct2_agent    9240 non-null   object
 7   ct2_R        9240 non-null   float64
 8   ct2_ACS      9240 non-null   float64
 9   ct2_KAST     9240 non-null   float64
 10  ct2_ADR      9240 non-null   float64
 11  ct2_HS       9240 non-null   float64
 12  ct3_agent    9240 non-null   object
 13  ct3_R        9240 non-null   float64
 14  ct3_ACS      9240 non-null   float64
 15  ct3_KAST     9240 non-null   float64
 16  ct3_ADR      9240 non-null   float64
 17  ct3_HS       9240 non-null   float64
 18  ct4_agent    9240 non-null   object
 19  ct4_R        9240 non-null   float64
 20  ct4_ACS      9240 non-null   float64
 21  ct4_KAST     9240 non-null   float64
 22  ct4_ADR      9240 non-null   float64
 23  ct4_HS       9240 non-null   float64
 24  ct5_agent    9240 non-null   object
 25  ct5_R        9240 non-null   float64
 26  ct5_ACS      9240 non-null   float64
 27  ct5_KAST     9240 non-null   float64
 28  ct5_ADR      9240 non-null   float64
 29  ct5_HS       9240 non-null   float64
 30  t1_agent     9240 non-null   object
 31  t1_R         9240 non-null   float64
 32  t1_ACS       9240 non-null   float64
 33  t1_KAST      9240 non-null   float64
 34  t1_ADR       9240 non-null   float64
 35  t1_HS        9240 non-null   float64
 36  t2_agent     9240 non-null   object
 37  t2_R         9240 non-null   float64
 38  t2_ACS       9240 non-null   float64
 39  t2_KAST      9240 non-null   float64
 40  t2_ADR       9240 non-null   float64
 41  t2_HS        9240 non-null   float64
 42  t3_agent     9240 non-null   object
 43  t3_R         9240 non-null   float64
 44  t3_ACS       9240 non-null   float64
 45  t3_KAST      9240 non-null   float64
 46  t3_ADR       9240 non-null   float64
 47  t3_HS        9240 non-null   float64
 48  t4_agent     9240 non-null   object
 49  t4_R         9240 non-null   float64
 50  t4_ACS       9240 non-null   float64
 51  t4_KAST      9240 non-null   float64
 52  t4_ADR       9240 non-null   float64
 53  t4_HS        9240 non-null   float64
 54  t5_agent     9240 non-null   object
 55  t5_R         9240 non-null   float64
 56  t5_ACS       9240 non-null   float64
 57  t5_KAST      9240 non-null   float64
 58  t5_ADR       9240 non-null   float64
 59  t5_HS        9240 non-null   float64
 60  map          9240 non-null   object
 61  winner_team  9240 non-null   object
dtypes: float64(50), object(12)
memory usage: 4.4+ MB

In [23]:
# numerical datatype
attr_list = ['ct1_R','ct1_ACS','ct1_ADR',
             'ct2_R','ct2_ACS','ct2_ADR',
             'ct3_R','ct3_ACS','ct3_ADR',
             'ct4_R','ct4_ACS','ct4_ADR',
             'ct5_R','ct5_ACS','ct5_ADR',
             't1_R','t1_ACS','t1_ADR',
             't2_R','t2_ACS','t2_ADR',
             't3_R','t3_ACS','t3_ADR',
             't4_R','t4_ACS','t4_ADR',
             't5_R','t5_ACS','t5_ADR']

percent_list = ['ct1_KAST', 'ct1_HS',
                'ct2_KAST', 'ct2_HS',
                'ct3_KAST', 'ct3_HS',
                'ct4_KAST', 'ct4_HS',
                'ct5_KAST', 'ct5_HS',
                't1_KAST', 't1_HS',
                't2_KAST', 't2_HS',
                't3_KAST', 't3_HS',
                't4_KAST', 't4_HS',
                't5_KAST', 't5_HS']

numerical_list = attr_list + percent_list

# String datatype
agent_list = ['ct1_agent', 'ct2_agent', 'ct3_agent', 'ct4_agent', 'ct5_agent',
              't1_agent', 't2_agent', 't3_agent', 't4_agent', 't5_agent']

other_list = ['map', 'winner_team']

In [24]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [25]:
# label encoding string type data

le = LabelEncoder()
for col in agent_list:
    df[col] = le.fit_transform(df['ct1_agent'])
    
df['map'] = le.fit_transform(df['map'])
df['winner_team'] = le.fit_transform(df['winner_team'])

In [29]:
# standardize numerical data

scaler = StandardScaler()


df[numerical_list] = scaler.fit_transform(df[numerical_list])

In [30]:
df.head()

,ct1_agent,ct1_R,ct1_ACS,ct1_KAST,ct1_ADR,ct1_HS,ct2_agent,ct2_R,ct2_ACS,ct2_KAST,...,t4_ADR,t4_HS,t5_agent,t5_R,t5_ACS,t5_KAST,t5_ADR,t5_HS,map,winner_team
0,4,-0.341790,-0.944290,0.451367,-1.010053,0.919328,4,0.243193,-0.521404,0.623242,...,-0.185966,-0.858821,4,-2.039453,-2.357730,-1.715140,-2.168257,-1.053839,2,0
1,11,0.113855,0.182848,0.716607,0.409989,-1.187961,11,0.504553,-0.849552,-0.390163,...,-1.096711,1.781236,11,0.087669,1.083712,-0.426589,0.975142,0.307678,0,0
2,21,0.374223,-0.346566,0.893434,-0.688534,-0.450410,21,0.616564,0.114381,-0.390163,...,-0.258825,1.070452,21,-0.663080,0.522342,-0.355002,1.049104,0.502181,1,0
3,16,-1.090348,-0.141632,-1.405313,-0.286636,0.603234,16,-0.578225,-0.644460,0.032089,...,0.360482,-1.163443,16,0.796709,0.400305,-0.068658,0.420425,1.085688,8,1
4,7,-0.309244,-1.302925,0.009301,-1.170813,-0.134317,7,-0.242190,-0.316312,1.721097,...,0.287622,1.578155,7,0.796709,0.497934,0.504032,0.753255,-1.248342,6,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 62 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ct1_agent    9240 non-null   int32
 1   ct1_R        9240 non-null   float64
 2   ct1_ACS      9240 non-null   float64
 3   ct1_KAST     9240 non-null   float64
 4   ct1_ADR      9240 non-null   float64
 5   ct1_HS       9240 non-null   float64
 6   ct2_agent    9240 non-null   int64
 7   ct2_R        9240 non-null   float64
 8   ct2_ACS      9240 non-null   float64
 9   ct2_KAST     9240 non-null   float64
 10  ct2_ADR      9240 non-null   float64
 11  ct2_HS       9240 non-null   float64
 12  ct3_agent    9240 non-null   int64
 13  ct3_R        9240 non-null   float64
 14  ct3_ACS      9240 non-null   float64
 15  ct3_KAST     9240 non-null   float64
 16  ct3_ADR      9240 non-null   float64
 17  ct3_HS       9240 non-null   float64
 18  ct4_agent    9240 non-null   int64
 19  ct4_R        9240 non-null   float64
 20  ct4_ACS      9240 non-null   float64
 21  ct4_KAST     9240 non-null   float64
 22  ct4_ADR      9240 non-null   float64
 23  ct4_HS       9240 non-null   float64
 24  ct5_agent    9240 non-null   int64
 25  ct5_R        9240 non-null   float64
 26  ct5_ACS      9240 non-null   float64
 27  ct5_KAST     9240 non-null   float64
 28  ct5_ADR      9240 non-null   float64
 29  ct5_HS       9240 non-null   float64
 30  t1_agent     9240 non-null   int64
 31  t1_R         9240 non-null   float64
 32  t1_ACS       9240 non-null   float64
 33  t1_KAST      9240 non-null   float64
 34  t1_ADR       9240 non-null   float64
 35  t1_HS        9240 non-null   float64
 36  t2_agent     9240 non-null   int64
 37  t2_R         9240 non-null   float64
 38  t2_ACS       9240 non-null   float64
 39  t2_KAST      9240 non-null   float64
 40  t2_ADR       9240 non-null   float64
 41  t2_HS        9240 non-null   float64
 42  t3_agent     9240 non-null   int64
 43  t3_R         9240 non-null   float64
 44  t3_ACS       9240 non-null   float64
 45  t3_KAST      9240 non-null   float64
 46  t3_ADR       9240 non-null   float64
 47  t3_HS        9240 non-null   float64
 48  t4_agent     9240 non-null   int64
 49  t4_R         9240 non-null   float64
 50  t4_ACS       9240 non-null   float64
 51  t4_KAST      9240 non-null   float64
 52  t4_ADR       9240 non-null   float64
 53  t4_HS        9240 non-null   float64
 54  t5_agent     9240 non-null   int64
 55  t5_R         9240 non-null   float64
 56  t5_ACS       9240 non-null   float64
 57  t5_KAST      9240 non-null   float64
 58  t5_ADR       9240 non-null   float64
 59  t5_HS        9240 non-null   float64
 60  map          9240 non-null   int32
 61  winner_team  9240 non-null   int32
dtypes: float64(50), int32(3), int64(9)
memory usage: 4.3 MB

In [32]:
df.to_csv('data_preprocessed.csv', index=False)