In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data_preprocessed.csv')

In [5]:
df.head()

,ct1_agent,ct1_R,ct1_ACS,ct1_KAST,ct1_ADR,ct1_HS,ct2_agent,ct2_R,ct2_ACS,ct2_KAST,...,t4_ADR,t4_HS,t5_agent,t5_R,t5_ACS,t5_KAST,t5_ADR,t5_HS,map,winner_team
0,4,-0.341790,-0.944290,0.451367,-1.010053,0.919328,11,0.243193,-0.521404,0.623242,...,-0.185966,-0.858821,11,-2.039453,-2.357730,-1.715140,-2.168257,-1.053839,2,0
1,11,0.113855,0.182848,0.716607,0.409989,-1.187961,10,0.504553,-0.849552,-0.390163,...,-1.096711,1.781236,11,0.087669,1.083712,-0.426589,0.975142,0.307678,0,0
2,21,0.374223,-0.346566,0.893434,-0.688534,-0.450410,2,0.616564,0.114381,-0.390163,...,-0.258825,1.070452,16,-0.663080,0.522342,-0.355002,1.049104,0.502181,1,0
3,16,-1.090348,-0.141632,-1.405313,-0.286636,0.603234,19,-0.578225,-0.644460,0.032089,...,0.360482,-1.163443,21,0.796709,0.400305,-0.068658,0.420425,1.085688,8,1
4,7,-0.309244,-1.302925,0.009301,-1.170813,-0.134317,6,-0.242190,-0.316312,1.721097,...,0.287622,1.578155,12,0.796709,0.497934,0.504032,0.753255,-1.248342,6,0