In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data_preprocessed.csv')

In [5]:
df.head()

,ct1_agent,ct1_R,ct1_ACS,ct1_KAST,ct1_ADR,ct1_HS,ct2_agent,ct2_R,ct2_ACS,ct2_KAST,...,t4_ADR,t4_HS,t5_agent,t5_R,t5_ACS,t5_KAST,t5_ADR,t5_HS,map,winner_team
0,4,-0.341790,-0.944290,0.451367,-1.010053,0.919328,11,0.243193,-0.521404,0.623242,...,-0.185966,-0.858821,11,-2.039453,-2.357730,-1.715140,-2.168257,-1.053839,2,0
1,11,0.113855,0.182848,0.716607,0.409989,-1.187961,10,0.504553,-0.849552,-0.390163,...,-1.096711,1.781236,11,0.087669,1.083712,-0.426589,0.975142,0.307678,0,0
2,21,0.374223,-0.346566,0.893434,-0.688534,-0.450410,2,0.616564,0.114381,-0.390163,...,-0.258825,1.070452,16,-0.663080,0.522342,-0.355002,1.049104,0.502181,1,0
3,16,-1.090348,-0.141632,-1.405313,-0.286636,0.603234,19,-0.578225,-0.644460,0.032089,...,0.360482,-1.163443,21,0.796709,0.400305,-0.068658,0.420425,1.085688,8,1
4,7,-0.309244,-1.302925,0.009301,-1.170813,-0.134317,6,-0.242190,-0.316312,1.721097,...,0.287622,1.578155,12,0.796709,0.497934,0.504032,0.753255,-1.248342,6,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 62 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ct1_agent    9240 non-null   int64
 1   ct1_R        9240 non-null   float64
 2   ct1_ACS      9240 non-null   float64
 3   ct1_KAST     9240 non-null   float64
 4   ct1_ADR      9240 non-null   float64
 5   ct1_HS       9240 non-null   float64
 6   ct2_agent    9240 non-null   int64
 7   ct2_R        9240 non-null   float64
 8   ct2_ACS      9240 non-null   float64
 9   ct2_KAST     9240 non-null   float64
 10  ct2_ADR      9240 non-null   float64
 11  ct2_HS       9240 non-null   float64
 12  ct3_agent    9240 non-null   int64
 13  ct3_R        9240 non-null   float64
 14  ct3_ACS      9240 non-null   float64
 15  ct3_KAST     9240 non-null   float64
 16  ct3_ADR      9240 non-null   float64
 17  ct3_HS       9240 non-null   float64
 18  ct4_agent    9240 non-null   int64
 19  ct4_R        9240 non-null   float64
 20  ct4_ACS      9240 non-null   float64
 21  ct4_KAST     9240 non-null   float64
 22  ct4_ADR      9240 non-null   float64
 23  ct4_HS       9240 non-null   float64
 24  ct5_agent    9240 non-null   int64
 25  ct5_R        9240 non-null   float64
 26  ct5_ACS      9240 non-null   float64
 27  ct5_KAST     9240 non-null   float64
 28  ct5_ADR      9240 non-null   float64
 29  ct5_HS       9240 non-null   float64
 30  t1_agent     9240 non-null   int64
 31  t1_R         9240 non-null   float64
 32  t1_ACS       9240 non-null   float64
 33  t1_KAST      9240 non-null   float64
 34  t1_ADR       9240 non-null   float64
 35  t1_HS        9240 non-null   float64
 36  t2_agent     9240 non-null   int64
 37  t2_R         9240 non-null   float64
 38  t2_ACS       9240 non-null   float64
 39  t2_KAST      9240 non-null   float64
 40  t2_ADR       9240 non-null   float64
 41  t2_HS        9240 non-null   float64
 42  t3_agent     9240 non-null   int64
 43  t3_R         9240 non-null   float64
 44  t3_ACS       9240 non-null   float64
 45  t3_KAST      9240 non-null   float64
 46  t3_ADR       9240 non-null   float64
 47  t3_HS        9240 non-null   float64
 48  t4_agent     9240 non-null   int64
 49  t4_R         9240 non-null   float64
 50  t4_ACS       9240 non-null   float64
 51  t4_KAST      9240 non-null   float64
 52  t4_ADR       9240 non-null   float64
 53  t4_HS        9240 non-null   float64
 54  t5_agent     9240 non-null   int64
 55  t5_R         9240 non-null   float64
 56  t5_ACS       9240 non-null   float64
 57  t5_KAST      9240 non-null   float64
 58  t5_ADR       9240 non-null   float64
 59  t5_HS        9240 non-null   float64
 60  map          9240 non-null   int64
 61  winner_team  9240 non-null   int64
dtypes: float64(50), int64(12)
memory usage: 4.4 MB